{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "rules": {
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "no-prototype-builtins": 0,
    "no-underscore-dangle": ["off", {"allowAfterThis": true}],
    "max-len": ["error", 128],
    "no-plusplus": ["off"],
    "no-param-reassign": ["error", { "props": false }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}